# Dependency directories
node_modules

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.vite

# Logs
logs
*.log
*.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Test
coverage

# Build
dist
dist-ssr
dist-electron
release
out

.DS_Store
