// Typography Mixins and functions
@mixin text() {
  font-family: $font-family-primary;
}

@mixin text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@function texts-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

// Layout Mixins
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin inline-flex-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

// UI Mixins
@mixin list-icon($icon, $boldness, $size, $color) {
  position: relative;
  padding-left: $size * 1.5;

  &:before {
    @include fontAwesome($boldness);
    content: $icon;
    font-size: $size;
    color: $color;
    position: absolute;
    left: 0;
  }
}

// Transition mixins
@mixin transition-color {
  transition: color 0.15s linear;
}

@mixin transition-section {
  transition:
    background-color 0.2s ease-in-out,
    padding 0.2s ease-in-out;
}

@mixin custom-underline($color) {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: $color;
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: 0.1s linear;
  }

  &:hover {
    &:before {
      visibility: visible;
      transform: scaleX(1);
    }
  }
}

@mixin button-custom-variant(
  $color,
  $color-hover,
  $color-active,
  $background-color,
  $background-color-hover,
  $background-color-active,
  $border-color,
  $border-color-hover,
  $border-color-active,
  $shadow-color,
  $shadow-color-hover,
  $shadow-color-active
) {
  --#{$prefix}btn-color: #{$color};
  --#{$prefix}btn-bg: #{$background-color};
  --#{$prefix}btn-border-color: #{$border-color};
  --#{$prefix}btn-hover-color: #{$color-hover};
  --#{$prefix}btn-hover-bg: #{$background-color-hover};
  --#{$prefix}btn-hover-border-color: #{$border-color-hover};
  --#{$prefix}btn-focus-shadow-rgb: #{to-rgb(mix($background-color, $border-color, 15%))};
  --#{$prefix}btn-active-color: #{$color-active};
  --#{$prefix}btn-active-bg: #{$background-color-active};
  --#{$prefix}btn-active-border-color: #{$border-color-active};
  --#{$prefix}btn-active-shadow: #{$shadow-color-active};
  --#{$prefix}btn-disabled-color: #{$color};
  --#{$prefix}btn-disabled-bg: #{$background-color};
  --#{$prefix}btn-disabled-border-color: #{$border-color};
}
