// Classes
@each $size in map-keys($texts) {
  .text-#{$size} {
    @include text;
    font-size: texts-deep-get($texts, $size, 'default', 'font-size');
    line-height: texts-deep-get($texts, $size, 'default', 'line-height');

    @include media-breakpoint-up(md) {
      font-size: texts-deep-get($texts, $size, 'md', 'font-size');
      line-height: texts-deep-get($texts, $size, 'md', 'line-height');
    }
  }
}

// Custom styles
.text-numeric {
  font-family: $font-family-numeric;
}

.text-light {
  font-weight: $font-weight-light;
}

.text-normal {
  font-weight: $font-weight-normal;
}

.text-bold {
  font-weight: $font-weight-semi-bold;
}

.text-white {
  color: $white;
}

// Links
.link {
  cursor: pointer;
  color: $body-color;
  text-decoration: none;
  transition: color 0.15s linear;

  &:hover {
    color: $secondary;
    text-decoration: none;
  }
}

.cursor-pointer {
  cursor: pointer;
}
