/* Buttons */
@each $color, $value in $theme-colors-button {
  .btn-#{$color} {
    @if $color == 'light' {
      @include button-variant(
        $value,
        $value,
        $hover-background: shade-color($value, $btn-hover-bg-shade-amount),
        $hover-border: shade-color($value, $btn-hover-border-shade-amount),
        $active-background: shade-color($value, $btn-active-bg-shade-amount),
        $active-border: shade-color($value, $btn-active-border-shade-amount)
      );
    } @else if $color == 'dark' {
      @include button-variant(
        $value,
        $value,
        $hover-background: tint-color($value, $btn-hover-bg-tint-amount),
        $hover-border: tint-color($value, $btn-hover-border-tint-amount),
        $active-background: tint-color($value, $btn-active-bg-tint-amount),
        $active-border: tint-color($value, $btn-active-border-tint-amount)
      );
    } @else {
      @include button-variant($value, $value);
    }
  }
}

.btn-percentage {
  cursor: pointer;
  border: 1px solid $dark-blue-300; //TO CHANGE COLOR
  border-radius: $border-radius;
  font-size: 12px;
  line-height: 16px;
  color: var(--#{$prefix}body-color); //TO CHANGE COLOR
  padding: 4px 12px;
  transition: background-color 0.15s linear;

  &.is-active {
    background-color: $dark-blue-300; //TO CHANGE COLOR
  }
}

/* Forms */
.form-control {
  &.is-fill {
    background-color: var(--bs-input-fill-bg-color);
    border-color: var(--bs-input-fill-bg-color);
  }

  &.is-fill {
    &:focus {
      background-color: var(--bs-input-fill-focus-bg-color);
      border-color: var(--bs-input-fill-focus-bg-color);
    }
  }
}

/* Icons */
.icon {
  display: inline-flex;
  width: 20px;
  height: 20px;
  transition: fill 0.15s linear;

  &.is-danger {
    path {
      fill: $danger;
      stroke: $danger;
    }
  }

  &.is-success {
    path {
      fill: $success;
      stroke: $success;
    }
  }

  // &.is-warning {
  //   path {
  //     fill: $warning-300;
  //   }
  // }

  // &.is-info {
  //   path {
  //     fill: $primary-100;
  //   }
  // }

  // &.is-gradient {
  //   path {
  //     fill: linear-gradient(139.83deg, #f32fd7 0%, #3845fb 100%);
  //   }
  // }

  // &.is-small {
  //   width: 20px;
  //   height: 20px;
  // }
}

/* Tabs */
.tabs {
  .nav-link {
    height: 52px;
    padding: 16px 12px;
    border-width: 0 0 2px 0;
    transition: none;
  }

  .notification {
    width: 20px;
    height: 20px;
  }
}

/* Loader */
.container-loader {
  width: 80px;
  height: 80px;
  background-image: url('../public/loader.svg');
  background-repeat: no-repeat;
  animation: 0.75s linear infinite spinner-border;
}

/* Modals */
.modal-content {
  box-shadow: $modal-content-box-shadow-xs;
}

.modal-backdrop {
  backdrop-filter: blur(4px);
}

/* Input Token */
.container-input-token {
  background-color: $dark-blue-700; //TO CHANGE COLOR
  border-radius: $border-radius;
  padding: 12px;
  border: 1px solid $dark-blue-700; //TO CHANGE COLOR
  transition: border 0.15s linear;

  @include media-breakpoint-up(md) {
    &:not(.is-readonly) {
      height: 108px;
    }
  }

  &:focus-within:not(.is-readonly),
  &:hover:not(.is-readonly) {
    border-color: $dark-blue-500; //TO CHANGE COLOR
  }

  &.is-invalid {
    border-color: $danger;
  }

  .input-token {
    color: $dark-blue-100; //TO CHANGE COLOR
    font-family: $font-family-numeric;
    font-size: 20px;
    line-height: 40px;
    background-color: $dark-blue-700; //TO CHANGE COLOR
    border: none;
    max-width: 150px;
    flex: 0 1 150px;
    @include transition-color;

    @include media-breakpoint-up(md) {
      max-width: 230px;
      flex: 0 1 230px;
      font-size: 28px;
    }

    &.is-compact {
      font-size: 16px;
      max-width: 230px;
      flex: 0 1 230px;

      @include media-breakpoint-up(md) {
        max-width: 270px;
        flex: 0 1 270px;
        font-size: 22px;
      }
    }

    &::placeholder {
      color: $dark-blue-100; //TO CHANGE COLOR
    }

    &:focus {
      color: $dark-blue-100; //TO CHANGE COLOR
    }

    &:focus-visible {
      border: none;
      outline: none;
    }
  }
}

/* Misc Containers */
.container-modal-card {
  max-width: 356px;
}

.container-welcome-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .subtext {
    font-size: 14px;
  }

  .person-icon {
    height: 94px;
    .bi {
      left: 50%;

      &:nth-child(1) {
        transform: translateX(-67%);
      }
      &:nth-child(2) {
        transform: translate(-32%, -10px);
      }
    }
  }
}

/* Icons */
.extra-large-icon {
  &.bi {
    font-size: 94px;
    line-height: 94px;
    max-height: 94px;
  }
}

/* Recovery Phrase Word Readonly Input */
.recovery-phrase-word-readonly {
  input {
    padding-right: 25% !important;
  }
  .bi {
    cursor: pointer;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
