/* Buttons */
@each $color, $value in $theme-colors-button {
  .btn-#{$color} {
    @if $color == 'light' {
      @include button-custom-variant(
        $value,
        $value,
        $hover-background: shade-color($value, $btn-hover-bg-shade-amount),
        $hover-border: shade-color($value, $btn-hover-border-shade-amount),
        $active-background: shade-color($value, $btn-active-bg-shade-amount),
        $active-border: shade-color($value, $btn-active-border-shade-amount)
      );
    } @else if $color == 'dark' {
      @include button-custom-variant(
        $value,
        $value,
        $hover-background: tint-color($value, $btn-hover-bg-tint-amount),
        $hover-border: tint-color($value, $btn-hover-border-tint-amount),
        $active-background: tint-color($value, $btn-active-bg-tint-amount),
        $active-border: tint-color($value, $btn-active-border-tint-amount)
      );
    } @else {
      @include button-custom-variant($value, $value, $btn-color);
    }
  }
}

@each $color, $value in $theme-colors-button {
  .btn-outline-#{$color} {
    @include button-custom-outline-variant($btn-outline-text-color, $value);
  }
}

.btn-percentage {
  cursor: pointer;
  border: 1px solid $dark-blue-300; //TO CHANGE COLOR
  border-radius: $border-radius;
  font-size: 12px;
  line-height: 16px;
  color: var(--#{$prefix}body-color); //TO CHANGE COLOR
  padding: 4px 12px;
  transition: background-color 0.15s linear;

  &.is-active {
    background-color: $dark-blue-300; //TO CHANGE COLOR
  }
}

.btn-theme-changer {
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 2;
  padding: 8px 12px;

  i {
    font-size: 16px;
  }
}

/* Forms */
.form-control {
  &.is-fill {
    background-color: var(--bs-input-fill-bg-color);
  }

  &.is-fill:not(.is-invalid) {
    border-color: var(--bs-input-fill-bg-color);
  }

  &.is-fill {
    &:focus {
      background-color: var(--bs-input-fill-focus-bg-color);
    }
  }

  &.is-fill:not(.is-invalid) {
    &:focus {
      border-color: var(--bs-input-fill-focus-bg-color);
    }
  }
}

/* Icons */
.icon {
  display: inline-flex;
  width: 20px;
  height: 20px;
  transition: fill 0.15s linear;

  &.is-danger {
    path {
      fill: $danger;
      stroke: $danger;
    }
  }

  &.is-success {
    path {
      fill: $success;
      stroke: $success;
    }
  }
}

/* Tabs */
.tabs {
  .tab-button {
    height: 52px;
    padding: 16px 12px;
    border-width: 0 0 2px 0;
    transition: none;
    color: $dark-blue-500;
    border-radius: 0;

    &.active {
      color: $neutral-800;
      border-radius: 0 !important;
    }

    @media (prefers-color-scheme: dark) {
      color: $dark-blue-200;

      &.active {
        color: $white;
      }
    }
  }

  .notification {
    width: 20px;
    height: 20px;
  }
}

/* Loader */
.container-loader {
  width: 80px;
  height: 80px;
  background-image: url('/images/loader.svg');
  background-repeat: no-repeat;
  animation: 0.75s linear infinite spinner-border;
}

/* Modals */
.modal-content {
  box-shadow: $modal-content-box-shadow-xs;
}

.modal-backdrop {
  backdrop-filter: blur(4px);
}

/* Input Token */
.container-input-token {
  background-color: $dark-blue-700; //TO CHANGE COLOR
  border-radius: $border-radius;
  padding: 12px;
  border: 1px solid $dark-blue-700; //TO CHANGE COLOR
  transition: border 0.15s linear;

  @include media-breakpoint-up(md) {
    &:not(.is-readonly) {
      height: 108px;
    }
  }

  &:focus-within:not(.is-readonly),
  &:hover:not(.is-readonly) {
    border-color: $dark-blue-500; //TO CHANGE COLOR
  }

  &.is-invalid {
    border-color: $danger;
  }

  .input-token {
    color: $dark-blue-100; //TO CHANGE COLOR
    font-family: $font-family-numeric;
    font-size: 20px;
    line-height: 40px;
    background-color: $dark-blue-700; //TO CHANGE COLOR
    border: none;
    max-width: 150px;
    flex: 0 1 150px;
    @include transition-color;

    @include media-breakpoint-up(md) {
      max-width: 230px;
      flex: 0 1 230px;
      font-size: 28px;
    }

    &.is-compact {
      font-size: 16px;
      max-width: 230px;
      flex: 0 1 230px;

      @include media-breakpoint-up(md) {
        max-width: 270px;
        flex: 0 1 270px;
        font-size: 22px;
      }
    }

    &::placeholder {
      color: $dark-blue-100; //TO CHANGE COLOR
    }

    &:focus {
      color: $dark-blue-100; //TO CHANGE COLOR
    }

    &:focus-visible {
      border: none;
      outline: none;
    }
  }
}

/* Misc Containers */
.container-dark-border {
  min-width: 430px;
  border-radius: 12px;

  background-color: var(--#{$prefix}contrainer-dark-bg-color);
  border: 1px solid var(--#{$prefix}contrainer-dark-border-color);
}

.container-example-words {
  background-image: url('../public/images/exampleWords.svg');
  background-repeat: no-repeat;
}

.container-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  cursor: pointer;
}

.container-card-account {
  border-radius: $border-radius;
  cursor: pointer;
  transition: background-color 0.15s linear;

  &:hover {
    background-color: var(--#{$prefix}table-header-bg-color);
  }

  &.is-selected {
    background-color: var(--#{$prefix}table-header-bg-color);
  }
}

.container-main-bg {
  border-radius: $border-radius;
  background-color: var(--#{$prefix}contrainer-main-bg-color);
  transition: background-color 0.15s linear;

  @media (prefers-color-scheme: light) {
    border: 1px solid $neutral-100;
  }
}

.container-dropdown-menu-item {
  border-radius: $border-radius;

  :hover {
    background-color: var(--#{$prefix}container-dropdown-menu-item-hover-color);
  }
}

/* Icons */
.extra-large-icon {
  &.bi {
    font-size: 94px;
    line-height: 94px;
    max-height: 94px;
  }
}

.large-icon {
  &.bi {
    font-size: 64px;
    line-height: 64px;
    max-height: 64px;
  }
}

/* Recovery Phrase Word Readonly Input */
.recovery-phrase-word {
  color: $dark-blue-500;

  @media (prefers-color-scheme: dark) {
    color: $dark-blue-200 !important;
  }

  &[withtoggler='true'] {
    input {
      padding-right: 30% !important;
    }
    .bi {
      cursor: pointer;
      position: absolute;
      right: 8%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &[hasindex] {
    input {
      padding-left: 15% !important;
    }

    .word-index {
      position: absolute;
      left: 10%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  input {
    color: $dark-blue-500;
    @media (prefers-color-scheme: dark) {
      color: $dark-blue-200 !important;
    }
  }
}

/* Modal Overrides */
.common-modal {
  --bs-modal-width: 356px;
}

.common-modal {
  --bs-modal-width: 356px;
}

.modal-fit-content {
  --bs-modal-width: fit-content;
}

.transaction-success-modal {
  --bs-modal-width: 430px;
}
.large-modal {
  --bs-modal-width: 75vw;

  @include media-breakpoint-up(xl) {
    --bs-modal-width: 60vw;
  }

  @include media-breakpoint-up(xxl) {
    --bs-modal-width: 50vw;
  }
}

/* Stepper */
.stepper {
  .stepper-head {
    .stepper-nav {
      transform: translateY(-50%);

      .stepper-nav-item {
        padding: 0 10px;

        .stepper-nav-item-bubble {
          background-color: $light-blue-50;
          width: 32px;
          height: 32px;
          display: flex;
          align-items: center;
          justify-content: center;

          @media (prefers-color-scheme: dark) {
            background-color: $dark-blue-600;
          }
        }

        .stepper-nav-item-title {
          text-wrap: nowrap;
          left: 50%;
          transform: translateX(-50%);
        }

        &.stepper-active {
          .stepper-nav-item-bubble {
            background-color: $purple-400;
            color: $body-bg;
          }
        }
      }
    }
  }
}

/* Switch */
.form-switch {
  .form-check-input,
  .form-check-label {
    margin-top: 0 !important;
    line-height: 16px !important;
  }

  &.form-switch-sm {
    margin-bottom: 0.5rem;

    .form-check-input {
      height: 1rem;
      width: calc(1rem + 0.75rem);
      border-radius: 2rem;
    }

    .form-check-input,
    .form-check-label {
      line-height: 16px !important;
    }
  }

  &.form-switch-md {
    margin-bottom: 1rem;

    .form-check-input {
      height: 1.5rem;
      width: calc(2rem + 0.75rem);
      border-radius: 3rem;
    }

    .form-check-input,
    .form-check-label {
      line-height: 24px !important;
    }
  }

  &.form-switch-lg {
    margin-bottom: 1.5rem;

    .form-check-input {
      height: 2rem;
      width: calc(3rem + 0.75rem);
      border-radius: 4rem;
    }

    .form-check-input,
    .form-check-label {
      line-height: 32px !important;
    }
  }

  &.form-switch-xl {
    margin-bottom: 2rem;

    .form-check-input {
      height: 2.5rem;
      width: calc(4rem + 0.75rem);
      border-radius: 5rem;
    }

    .form-check-input,
    .form-check-label {
      line-height: 40px !important;
    }
  }
}

/* Tooltip */
.wide-tooltip {
  --bs-tooltip-max-width: 280px;
}

.wide-lg-tooltip {
  --bs-tooltip-max-width: 320px;
}

.wide-xl-tooltip {
  --bs-tooltip-max-width: 380px;
}

.wide-xxl-tooltip {
  --bs-tooltip-max-width: 460px;
}

.v-toast {
  &__item {
    border-radius: 16px;
    padding: 12px 16px;
    background-color: var(--#{$prefix}toast-bg-color) !important;
    color: var(--#{$prefix}toast-color) !important;
  }
}

/* Tables */
.table-custom {
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%;

  td,
  th {
    padding: 12px 16px;

    &:first-of-type {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &:last-of-type {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    &.w-10 {
      width: 10px;
    }

    .table-sort-link {
      cursor: pointer;
      display: flex;
      align-items: center;
    }
  }

  th {
    background-color: var(--#{$prefix}table-header-bg-color);
    font-size: 12px;
    font-weight: 400;
  }

  td {
    background-color: var(--#{$prefix}card-primary-bg-color);
    font-size: 14px;
    padding: 16px;
  }
}

/* Separators */
.separator {
  border: 0;
  margin: 0;
  height: 1px;
  width: 100%;
  opacity: 1;
  background-color: var(--#{$prefix}input-border-color);
}

/* Borders */
.with-border-end {
  border-right: 1px solid var(--#{$prefix}input-border-color);
}

.dropdown-menu {
  box-shadow: $dropdown-box-shadow;

  .dropdown-item {
    border-radius: $border-radius;

    &:hover {
      background-color: var(--#{$prefix}container-dropdown-menu-item-hover-color);
    }
  }
}

/* Animations */
.pulse {
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.75);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.75);
  }
}
