/* Buttons */
@each $color, $value in $theme-colors-button {
  .btn-#{$color} {
    @if $color == 'light' {
      @include button-variant(
        $value,
        $value,
        $hover-background: shade-color($value, $btn-hover-bg-shade-amount),
        $hover-border: shade-color($value, $btn-hover-border-shade-amount),
        $active-background: shade-color($value, $btn-active-bg-shade-amount),
        $active-border: shade-color($value, $btn-active-border-shade-amount)
      );
    } @else if $color == 'dark' {
      @include button-variant(
        $value,
        $value,
        $hover-background: tint-color($value, $btn-hover-bg-tint-amount),
        $hover-border: tint-color($value, $btn-hover-border-tint-amount),
        $active-background: tint-color($value, $btn-active-bg-tint-amount),
        $active-border: tint-color($value, $btn-active-border-tint-amount)
      );
    } @else {
      @include button-variant($value, $value);
    }
  }
}

/* Forms */
.form-control {
  &.is-fill {
    background-color: var(--bs-input-fill-bg-color);
    border-color: var(--bs-input-fill-bg-color);
  }

  &.is-fill {
    &:focus {
      background-color: var(--bs-input-fill-focus-bg-color);
      border-color: var(--bs-input-fill-focus-bg-color);
    }
  }
}

/* Icons */
.icon {
  display: inline-flex;
  width: 20px;
  height: 20px;
  transition: fill 0.15s linear;

  &.is-danger {
    path {
      fill: $danger;
      stroke: $danger;
    }
  }

  &.is-success {
    path {
      fill: $success;
      stroke: $success;
    }
  }

  // &.is-warning {
  //   path {
  //     fill: $warning-300;
  //   }
  // }

  // &.is-info {
  //   path {
  //     fill: $primary-100;
  //   }
  // }

  // &.is-gradient {
  //   path {
  //     fill: linear-gradient(139.83deg, #f32fd7 0%, #3845fb 100%);
  //   }
  // }

  // &.is-small {
  //   width: 20px;
  //   height: 20px;
  // }
}

/* Tabs */
.tabs {
  .nav-link {
    height: 52px;
    padding: 16px 12px;
    border-width: 0 0 2px 0;
    transition: none;
  }

  .notification {
    width: 20px;
    height: 20px;
  }
}
