// Colors
$neutral-00: #ffffff;
$neutral-50: #f2f2f2;
$neutral-100: #e6e6e6;
$neutral-200: #cccccc;
$neutral-300: #b3b3b3;
$neutral-400: #999999;
$neutral-500: #666666;
$neutral-600: #4d4d4d;
$neutral-700: #333333;
$neutral-800: #1a1a1a;
$neutral-900: #0d0d0d;

$purple-50: #f2e5ff;
$purple-100: #e5ccff;
$purple-200: #cc99ff;
$purple-300: #b266ff;
$purple-400: #9933ff;
$purple-500: #ac59ff;
$purple-600: #6600cc;
$purple-700: #4c0099;
$purple-800: #330066;
$purple-900: #190033;
$purple-950: #0d001a;

$pink-50: #ffe5ff;
$pink-100: #ffccff;
$pink-200: #ff99ff;
$pink-300: #ff66ff;
$pink-400: #ff66ff;
$pink-500: #ff01ff;
$pink-600: #cc00cc;
$pink-700: #990099;
$pink-800: #660066;
$pink-900: #330033;
$pink-950: #1a0019;

$dark-blue-50: #eeeef6;
$dark-blue-100: #dddeee;
$dark-blue-200: #bbbddd;
$dark-blue-300: #999ccc;
$dark-blue-400: #777abb;
$dark-blue-500: #444788;
$dark-blue-600: #333666;
$dark-blue-700: #222444;
$dark-blue-800: #15162a;
$dark-blue-900: #111222;
$dark-blue-950: #090911;

$light-blue-50: #dcdfff;
$light-blue-100: #f9faff;
$light-blue-200: #f5f7ff;
$light-blue-300: #edefff;
$light-blue-400: #e5e8ff;
$light-blue-500: #dcdfff;
$light-blue-600: #ced2ff;
$light-blue-700: #9fa6ff;
$light-blue-800: #858dff;
$light-blue-900: #6d76f0;
$light-blue-950: #4c54c3;

$success-50: #e5fff0;
$success-100: #ccffe1;
$success-200: #99ffc4;
$success-300: #66ffa6;
$success-400: #33ff88;
$success-500: #008035;
$success-600: #00cc55;
$success-700: #009940;
$success-800: #00662b;
$success-900: #003315;
$success-950: #001a0b;

$warning-50: #fff1e5;
$warning-100: #ffe2cc;
$warning-200: #ffc599;
$warning-300: #ffa866;
$warning-400: #ff8b33;
$warning-500: #fa6c00;
$warning-600: #cc5800;
$warning-700: #994200;
$warning-800: #662c00;
$warning-900: #331600;
$warning-950: #1a0b00;

$error-50: #ffe5e5;
$error-100: #ffcccc;
$error-200: #ff9999;
$error-300: #ff6666;
$error-400: #ff3333;
$error-500: #cd0000;
$error-600: #cc0000;
$error-700: #990000;
$error-800: #660000;
$error-900: #330000;
$error-950: #1a0000;

$color-mainnet: #1896b2;
$color-testnet: #e302ab;

$primary: $purple-600;
$secondary: $dark-blue-600;
$success: $success-500;
$danger: $error-500;
$warning: $warning-500;
$info: $light-blue-900;
$gray: $neutral-200;
$transparent: transparent;

// Add custom colors to theme-colors map
$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'gray': $gray,
);

// Gradients
$main-gradient: linear-gradient(to left, #ff00ff, #774fed);

// Options
$enable-validation-icons: false;
$enable-negative-margins: true;

// Spacers
$spacer: 1rem;

$spacers: (
  0: 0,
  1: (
    $spacer * 0.125,
  ),
  // 2px
  2:
    (
      $spacer * 0.25,
    ),
  // 4px
  3:
    (
      $spacer * 0.5,
    ),
  // 8px
  4: $spacer,
  // 16px
  5:
    (
      $spacer * 1.5,
    ),
  // 24px
  6:
    (
      $spacer * 2,
    ),
  // 32px
  7:
    (
      $spacer * 2.5,
    ),
  // 40px
  8:
    (
      $spacer * 3,
    ),
  // 48px
  9:
    (
      $spacer * 3.5,
    ),
  // 56px
  10:
    (
      $spacer * 4,
    ),
  // 64px
  11:
    (
      $spacer * 4.5,
    ),
  // 72px
  12:
    (
      $spacer * 5,
    ),
  // 80px
  13:
    (
      $spacer * 5.5,
    ),
  // 88px
  14:
    (
      $spacer * 6,
    ),
  // 96px
  15:
    (
      $spacer * 6.5,
    ),
  20: (
    $spacer * 10,
  ),
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1600px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

// Body
// $body-bg: #f9fafe;
// $body-bg-dark: $dark-blue-900;
$body-bg: $light-blue-300;
$body-bg-dark: $dark-blue-950;

$body-color: $neutral-800;
$body-color-dark: $neutral-00;

// Paragraphs
$paragraph-margin-bottom: 0;

// Grid columns
$grid-gutter-width: 24px;

// Border radius
$border-color: $dark-blue-100;
$border-color-dark: #372f52;

$border-radius: 6px;
$border-radius-lg: 8px;
$border-radius-xl: 12px;

// Box shadows
$box-shadow-sm: 0px 5px 20px rgba(9, 10, 20, 0.45);

// Typography
$font-family-primary:
  'Inter',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  'Helvetica Neue',
  Arial,
  sans-serif,
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol';
$font-family-numeric: 'Noto Sans Mono', monospace;

$font-family-base: $font-family-primary;
$font-size-base: 1rem;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;
$font-weight-bolder: $font-weight-bold;

$font-weight-base: $font-weight-normal;

$line-height-base: 1.5;
$line-height-small: 0.5;

$headings-margin-bottom: 0;
$headings-font-family: $font-family-primary;
$headings-font-weight: $font-weight-light;

$buttons: (
  primary: (
    color: $neutral-00,
    color-hover: $neutral-00,
    color-active: $neutral-00,
    background-color: $primary,
    background-color-hover: mix(white, $primary, 15%),
    background-color-active: mix(black, $primary, 15%),
    border-color: $primary,
    border-color-hover: mix(white, $primary, 15%),
    border-color-active: mix(black, $primary, 15%),
    shadow-color: $primary,
    shadow-color-hover: $primary,
    shadow-color-active: $primary,
  ),
  secondary: (
    color: $neutral-00,
    color-hover: $neutral-00,
    color-active: $neutral-00,
    background-color: mix(white, $secondary, 5%),
    background-color-hover: mix(white, $secondary, 10%),
    background-color-active: mix(black, $secondary, 35%),
    border-color: mix(white, $secondary, 5%),
    border-color-hover: mix(white, $secondary, 10%),
    border-color-active: mix(black, $secondary, 35%),
    shadow-color: $secondary,
    shadow-color-hover: $secondary,
    shadow-color-active: $secondary,
  ),
  borderless: (
    color: var(--bs-btn-borderless-color),
    color-hover: var(--bs-btn-borderless-color-hover),
    color-active: var(--bs-btn-borderless-color-active),
    background-color: $transparent,
    background-color-hover: $transparent,
    background-color-active: $transparent,
    border-color: $transparent,
    border-color-hover: var(--bs-btn-borderless-border-color-hover),
    border-color-active: var(--bs-btn-borderless-border-color-active),
    shadow-color: $primary,
    shadow-color-hover: $primary,
    shadow-color-active: $primary,
  ),
  danger: (
    color: var(--bs-btn-borderless-color),
    color-hover: var(--bs-btn-borderless-color),
    color-active: var(--bs-btn-borderless-color),
    background-color: $transparent,
    background-color-hover: rgba($danger, 0.2),
    background-color-active: rgba($danger, 0.4),
    border-color: $danger,
    border-color-hover: mix(white, $danger, 10%),
    border-color-active: mix(black, $danger, 10%),
    shadow-color: $primary,
    shadow-color-hover: $primary,
    shadow-color-active: $primary,
  ),
);

$texts: (
  huge: (
    default: (
      font-size: 40px,
      line-height: 56px,
      letter-spacing: -1px,
    ),
    md: (
      font-size: 40px,
      line-height: 56px,
      letter-spacing: -1px,
    ),
  ),
  display: (
    default: (
      font-size: 32px,
      line-height: 48px,
      letter-spacing: -1px,
    ),
    md: (
      font-size: 32px,
      line-height: 48px,
      letter-spacing: -1px,
    ),
  ),
  headline: (
    default: (
      font-size: 24px,
      line-height: 36px,
      letter-spacing: -1px,
    ),
    md: (
      font-size: 24px,
      line-height: 36px,
      letter-spacing: -1px,
    ),
  ),
  title: (
    default: (
      font-size: 20px,
      line-height: 30px,
    ),
    md: (
      font-size: 20px,
      line-height: 30px,
    ),
  ),
  subheader: (
    default: (
      font-size: 18px,
      line-height: 26px,
    ),
    md: (
      font-size: 18px,
      line-height: 26px,
    ),
  ),
  main: (
    default: (
      font-size: 16px,
      line-height: 24px,
    ),
    md: (
      font-size: 16px,
      line-height: 24px,
    ),
  ),
  small: (
    default: (
      font-size: 14px,
      line-height: 20px,
    ),
    md: (
      font-size: 14px,
      line-height: 20px,
    ),
  ),
  micro: (
    default: (
      font-size: 12px,
      line-height: 16px,
    ),
    md: (
      font-size: 12px,
      line-height: 16px,
    ),
  ),
  footnote: (
    default: (
      font-size: 10px,
      line-height: 14px,
    ),
    md: (
      font-size: 10px,
      line-height: 14px,
    ),
  ),
);

// Buttons
$btn-font-size: 14px;
$btn-padding-y: 7px;
$btn-padding-x: 18px;

$btn-padding-y-sm: 4px;
$btn-padding-x-sm: 8px;
$btn-font-size-sm: 12px;

$btn-padding-y-lg: 12px;
$btn-padding-x-lg: 18px;
$btn-font-size-lg: 16px;

$btn-line-height: 24px;
$btn-font-weight: $font-weight-semi-bold;
$btn-color: $neutral-00;

$btn-border-radius: $border-radius;
$btn-border-radius-sm: $border-radius;
$btn-border-radius-lg: $border-radius;
$btn-transition:
  color 0.15s linear,
  background-color 0.15s linear,
  border-color 0.15s linear,
  box-shadow 0.15s linear;
$btn-disabled-opacity: 0.5;

// Forms
$form-label-font-weight: $font-weight-bold;
$form-label-font-size: 12px;
$form-feedback-font-size: 12px;
$form-invalid-border-color: $error-400;
$form-invalid-color: $error-400;
$form-invalid-border-color-dark: $error-400;
$form-invalid-color-dark: $error-400;

$input-color: var(--bs-body-color);
$input-border-color: var(--bs-input-border-color);
$input-focus-border-color: var(--bs-input-focus-border-color);
$input-focus-box-shadow: none;
$input-height: auto;
$input-line-height: 2;
$form-group-margin-bottom: 0;
$input-padding-y: 5px;
$input-padding-x: 12px;
$input-font-size: 14px;
$input-border-radius: $border-radius;

$input-padding-y-sm: 7px;
$input-padding-x-sm: 12px;

$form-select-border-radius: $border-radius;
$form-select-border-radius-sm: $border-radius;

// Range
$form-range-track-height: 0.25rem;
$form-range-thumb-width: 1.5rem;
$form-range-thumb-height: 1.5rem;

// Switch
$form-switch-focus-color: $light-blue-700;

// Modals
$modal-content-bg: var(--bs-modal-bg-color);
$modal-header-border-color: $neutral-900;
$modal-backdrop-opacity: 1;
$modal-backdrop-bg: rgba(25, 25, 63, 0.3);
$modal-header-padding: 24px;
$modal-inner-padding: 1.5rem;
$modal-content-border-width: 0;
$modal-inner-padding: 16px;

$btn-close-color: $neutral-00;

// Pagination
$pagination-bg: transparent;
$pagination-active-color: $neutral-00;
$pagination-padding-y: 0.175rem;
$pagination-border-width: 0;

// Alerts
$alert-bg-scale: -70% !default;
$alert-border-scale: 40% !default;
$alert-color-scale: 60% !default;

// Progress
$progress-height: 8px;
$progress-border-radius: 41px;

// Dropdowns
$dropdown-border-radius: $border-radius-xl;
$dropdown-bg: var(--bs-contrainer-dark-bg-color);
$dropdown-padding-x: 10px;
$dropdown-padding-y: 16px;
$dropdown-box-shadow:
  0px 4px 6px 0px rgba(0, 0, 0, 0.09),
  0px 0px 1px 1px rgba(167, 167, 167, 0.25);
$dropdown-border-width: 0;
$dropdown-item-padding-x: 16px;
$dropdown-item-padding-y: 8px;

$toast-colors: (
  'success': $success,
  'info': $info,
  'warning': $warning,
  'error': $danger,
  'default': $gray,
);
