apiVersion: apps/v1
kind: Deployment
metadata:
  name: chain-deployment
  labels:
    name: chain-deployment
    app: htx-back-end
spec:
  replicas: 1
  selector:
    matchLabels:
      name: chain
      app: htx-back-end
  template:
    metadata:
      name: chain
      labels:
        name: chain
        app: htx-back-end
    spec:
      containers:
        - name: chain
          image: back-end-chain:1.0.0
          env:
            - name: RABBITMQ_URI
              value: 'amqp://rabbitmq-service:5672'
            - name: POSTGRES_HOST
              value: 'postgres-service'
            - name: POSTGRES_PORT
              value: '5432'
            - name: POSTGRES_DATABASE
              value: 'postgres'
            - name: POSTGRES_USERNAME
              value: 'postgres'
            - name: POSTGRES_PASSWORD
              value: 'postgres'
            - name: POSTGRES_SYNCHRONIZE
              value: 'true'
            - name: REDIS_URL
              value: 'redis://redis-service:6379'
