apiVersion: apps/v1
kind: Deployment
metadata:
  name: notifications-deployment
  labels:
    name: notifications-deployment
    app: htx-back-end
spec:
  replicas: 1
  selector:
    matchLabels:
      name: notifications
      app: htx-back-end
  template:
    metadata:
      labels:
        name: notifications
        app: htx-back-end
    spec:
      containers:
        - name: notifications
          image: back-end-notifications:1.0.0
          env:
            - name: HTTP_PORT
              value: '3020'
            - name: AUTH_HOST
              value: 'api-service'
            - name: AUTH_PORT
              value: '3001'
            - name: RABBITMQ_URI
              value: 'amqp://rabbitmq-service:5672'
            - name: BREVO_USERNAME
              valueFrom:
                secretKeyRef:
                  name: brevo-secret
                  key: username
            - name: BREVO_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: brevo-secret
                  key: password
            - name: REDIS_URL
              value: 'redis://redis-service:6379'
            - name: POSTGRES_HOST
              value: 'postgres-service'
            - name: POSTGRES_PORT
              value: '5432'
            - name: POSTGRES_DATABASE
              value: 'postgres'
            - name: POSTGRES_USERNAME
              value: 'postgres'
            - name: POSTGRES_PASSWORD
              value: 'postgres'
            - name: POSTGRES_SYNCHRONIZE
              value: 'true'
---
apiVersion: v1
kind: Service
metadata:
  name: notifications-service
  labels:
    name: notifications-service
    app: htx-back-end
spec:
  ports:
    - name: 'http'
      port: 3020
      protocol: TCP
      targetPort: 3020
  selector:
    name: notifications
    app: htx-back-end
  type: NodePort
