services:
  # traefik-reverse-proxy:
  #   image: traefik:v3.1
  #   container_name: traefik-reverse-proxy
  #   # Enable the Web UI and set provider to docker
  #   command: --api.insecure=true --providers.docker
  #   ports:
  #     - "80:80"
  #     - "8080:8080" # Web UI Port
  #   volumes:
  #     # Listen to the Docker events
  #     - /var/run/docker.sock:/var/run/docker.sock
  api:
    build:
      context: .
      dockerfile: ./apps/api/Dockerfile
      target: development
    command: ["sh", "-c", "pnpm migration:run && pnpm start:dev api"]
    env_file:
      - ./apps/api/.env
    ports:
      - '3001:3000'
    volumes:
      - .:/usr/src/app
    depends_on:
      database:
        condition: service_healthy
    restart: always
  chain:
    build:
      context: .
      dockerfile: ./apps/chain/Dockerfile
      target: development
    command: pnpm run start:dev chain
    env_file:
      - ./apps/chain/.env
    volumes:
      - .:/usr/src/app
    restart: always
  notifications:
    build:
      context: .
      dockerfile: ./apps/notifications/Dockerfile
      target: development
    command: pnpm run start:dev notifications
    env_file:
      - ./apps/notifications/.env
    ports:
      - '3020:3020'
    volumes:
      - .:/usr/src/app
    restart: always
  rabbitmq:
    image: rabbitmq
    ports:
      - 5672:5672
    restart: always
  database:
    image: postgres
    restart: always
    environment:
      - POSTGRES_PASSWORD
    container_name: postgres
    volumes:
      - ./pgdata:/var/lib/postgresql
    # for development, allow postgres to be accessible
    ports:
      - '5432:5432'
  #    expose:
  #      - '5432'
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
  pgadmin:
    image: dpage/pgadmin4
    restart: always
    container_name: nest-pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL
      - PGADMIN_DEFAULT_PASSWORD
    ports:
      - '5050:80'
    depends_on:
      - database
  redis:
    build: ./redis
    container_name: cache
    ports:
      - 6380:6379
    volumes:
      - redis:/data
    restart: always
volumes:
  redis:
    driver: local
