name: Test Migrations

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

defaults:
  run:
    shell: bash

permissions:
  contents: read

concurrency:
  group: pr-checks-${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test-migrations:
    name: Migration Tests
    runs-on: transaction-tools-linux-medium

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2

      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

      - name: Install pnpm
        uses: step-security/action-setup@3d419c73e38e670dbffe349ffff26dd13c164640
        with:
          version: 9

      - name: Set up Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020
        with:
          node-version: 22.12.0
          cache: 'pnpm'
          cache-dependency-path: |
            back-end/pnpm-lock.yaml

      - name: Install dependencies
        run: pnpm install
        working-directory: back-end

      - name: Run migration schema tests
        run: pnpm test:migrations
        working-directory: back-end