---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: notifications
  namespace: hedera-transaction-tool
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notifications
  template:
    metadata:
      labels:
        app: notifications
    spec:
      containers:
        - name: notifications
          image: gcr.io/transaction-tool-dev/notifications
          env:
            - name: HTTP_PORT
              value: '3020'
            - name: AUTH_HOST
              value: 'auth'
            - name: AUTH_PORT
              value: '3001'
            - name: RABBITMQ_USERNAME
              valueFrom:
                secretKeyRef:
                  name: rabbitmq-secret
                  key: username
            - name: RABBITMQ_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: rabbitmq-secret
                  key: password
            - name: RABBITMQ_URI
              value: 'amqp://$(RABBITMQ_USERNAME):$(RABBITMQ_PASSWORD)@rabbitmq:5672'
            - name: BREVO_USERNAME
              valueFrom:
                secretKeyRef:
                  name: brevo-secret
                  key: username
            - name: BREVO_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: brevo-secret
                  key: password
            - name: REDIS_URL
              value: 'redis://redis-master:6379'
            - name: POSTGRES_HOST
              value: 'postgres-service'
            - name: POSTGRES_PORT
              value: '5432'
            - name: POSTGRES_DATABASE
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: database
            - name: POSTGRES_USERNAME
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: username
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: password
            - name: POSTGRES_SYNCHRONIZE
              value: 'false'
---
apiVersion: v1
kind: Service
metadata:
  name: notifications
  namespace: hedera-transaction-tool
#  annotations:
#    cloud.google.com/backend-config: '{"default": "ws-backendconfig"}'
spec:
  ports:
    - name: 'http'
      port: 3020
      protocol: TCP
      targetPort: 3020
  selector:
    app: notifications
  type: NodePort
---
#apiVersion: cloud.google.com/v1
#kind: BackendConfig
#metadata:
#  name: ws-backendconfig
#  namespace: hedera-transaction-tool
#spec:
#  timeoutSec: 3600