# values.yaml
service:
  type: LoadBalancer
# If a static IP is obtained from the cloud provider, it can be used to assign a static IP to the Traefik service.
#  loadBalancerIP: <static IP>
providers:
  kubernetesCRD:
    allowCrossNamespace: true
  kubernetesIngress:
    publishedService:
      enabled: true
ingressRoute:
  dashboard:
    enabled: false
rbac:
  enabled: true
  namespaced: false